<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear/>
    <add key="log_path" value="D:\products\bts.tecvietnam.com\sourcecode\bts.udp\bts.udpgateway\bin\Debug\logs\"/>   
    <add key="connection_string" value="Server=localhost;Database=tecvn_db;Uid=root;Pwd=;SslMode=none;"/>
	<add key="FolderTrungTamThongTin" value="/ODA KOREA"/>
	<add key="FolderLuuTruFile" value="D:\BtsGetway_TTTT\new_data\"/>
	<add key="UserName" value="korea2020"/>
	<add key="Pass" value="Korea@2020"/>
	<add key="Host" value="ftp://222.255.11.68"/>
  </appSettings>	
</configuration>